* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.body-2 {
  background-color: #f0f7f3;
}

.body-1 {
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bag-color {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Expense {
  color: white;
  /* transition: .1s ease; */
}
.Expense:hover {
  color: rgb(67, 220, 231);
  /* transition: .1s ease; */
}
.mid-text {
  margin-top: 60px;
  font-size: larger;
  padding-right: 50px;
}

.card-items input {
  justify-items: center;
}

.nav-items-a a {
  padding-bottom: 20px;
  transform-origin: 0% 100%;
  transition: 0.2s ease;
  border-bottom: 2px solid rgba(255, 0, 0, 0);
}
.nav-items-a a:hover {
  border-bottom: 2px solid red;
}

.bg-clr {
  background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.table-background {
  background: #808080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3fada8,
    #808080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3fada8,
    #808080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
